#transform-area{
    background-color: #000;
    height: 100vh;
    perspective: 400px;
}

.quadrato{
    width: 150px;
    height: 150px;
    background-color: red;
    margin-bottom: 20px
}

#n1{
    animation-name:animazione1;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animazione1{
    from { background-color:red }
    to { background-color: yellow }
}

#n2{
    animation-name:animazione2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes animazione2{
    from { background-color:red }
    50% { background-color: yellow }
    to { background-color:red }
}