#main-header{
    background-color:darkgreen;
    height: 50px;
    text-align:center;
}

#main-header li{
    display: inline-block;
    transition: all 0.3s;
}

#main-header li:hover{
    background-color:#fff;
}
#main-header li:hover a{
    color:darkgreen;
}

#menu > li, #menu, #main-header nav{
    height: 100%;
}

#main-header a{
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    line-height: 50px;
    display: block
}

/*sotto-menu*/


#menu li > ul{
    display:none;
    position: absolute;
    background-color: darkgreen;
}
#menu li:hover > ul{
    display:block;
}


